name: ESLint

on:
  push:
    branches: master
  pull_request:
    branches: master
  workflow_dispatch:

jobs:
  js-and-style:
    name: ESLint

    runs-on: ubuntu-latest

    steps:
    - name: Check out the source code
      uses: actions/checkout@v4

    - name: Setup Node
      uses: actions/setup-node@v4
      with:
        node-version: 22

    - name: Install dependencies
      run: npm install

    - name: Run ESLint
      run: npm run lint